@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "Rubik", sans-serif ;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #ffffff;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 1200px;
  min-height: 100%;
}

.main-content {
  flex-grow: 1;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*header*/
.page-header {
  margin-top: 40px;

}

.navigation {
  color: #000000;
  background-color: #FFE17F;
  padding: 0 60px 0 60px;
}

.navigation-wrapper {
  display: flex;
  margin: 0 0 29px 0;
}

.logo {
  display: block;
  margin: 0 0 35px 0;
}

.page-search {
  width: 516px;
  margin: 0 24px 0 0;
  line-height: 20px;
  flex-shrink: 0;
}

.page-search-input {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  opacity: 0.3;
  padding: 0;
  border: 0;
}
.page-search::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url("../img/search.svg");
}


.basket {
  width: 320px;
  color: #ffffff;
  background-color: #000000;
  display: none;
}

.basket-item {
  list-style-type: none;
}

.basket-item-name {
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;

}

.basket-item-link {
  color: #ffffff;
  text-decoration: none;
  display: flex;
}

.total {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.total {
  display: flex;
}

.basket-open {
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}

.submenu-link {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  text-decoration: none;
}

.page-navigation-list {
  margin: 0;
  padding: 0;
  display: flex;
}

.page-navigation-item:first-child {
  width: 516px;
  margin: 0 24px 0 0;
}

.page-navigation-item:nth-child(2) {
  width: 140px;
  margin: 0 19px 0 0;
}

.page-navigation-item:last-child {
  margin: 0 0 0 auto;
}

.page-navigation-item {
  list-style-type: none;
}

.page-navigation-link-main, .page-navigation-link{
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.page-navigation-link-main {
  display: flex;
}

.page-navigation-link-main::after {
  content: "";
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url("../img/plus-1.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid #000000;
  border-radius: 50%;
  opacity: 0.2;
  box-sizing: border-box;
  margin: -14.5px 0 0 13px;
}

.auth {
  display: flex;
  width: 535px;
}

.enter {
  margin: 0 175px 0 0;
}

.basket-link {
  margin: 0 0 0 auto;
}

.enter::before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 12px;
  background-image: url("../img/user.svg");
  margin: 0 12px 0 0;
}

.save::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 12px;
  background-image: url("../img/compare.svg");
  margin: 0 10px 0 0;
}

.basket-link::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 14px;
  background-image: url("../img/cart.svg");
  margin: 0 10px 0 0;
}

.submenu {
  list-style-type: none;
}

/*header*/


/*bset*/

.favorite {
  margin-top: -100px ;
  margin-bottom: 40px;
}
.slider-item {
  display: none;
}

.slider-active {
  display: flex;
  align-items: center;
}

.slider-item-wrapper {
  width: 560px;
  margin: 0 0 0 40px;
}

.slider-list {
  margin: 0;
  padding: 0;
}

.slider-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin: 0 0 19px 0;
}

.slider-description {
  margin: 0 0 30px 0;
  padding: 0;
}

.slider-link {
  display: block;
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0 0 70px 0;
}

.slider-prev {
  background-image: url("../img/best/left-tall-arrow.svg");
  width: 20px;
  height: 60px;
}


.slider-next {
  background-image: url("../img/best/right-tall-arrow.svg");
  width: 20px;
  height: 60px;
}

.specifications-line:first-child {
  font-size: 36px;
  line-height: 30px;
  color: #000000;
}

.specifications-colum {
  width: 160px;
  margin: 0 0 22px 0;
}

.specifications-name {
  font-size: 16px;
}

/*best*/

/*category */
.category {
  margin-bottom: 69px;
}

.category-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.category-item {
  width: 160px;
  list-style-type: none;
}

.category-link {
  text-decoration: none;
}

.category-name {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.category-img-wrapper {
  width: 160px;
  height: 160px;
  color: #000000;
  background-color: #FFE17F;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 33px 0;
}
/*category*/

/*service*/
.service {
  color: #444444;
  background-color: #F0F0F0;
}
.service-wrapper {
  display: flex;
}

.service-list {
  margin: 70px 0 0 0;
  padding: 80px 0;
  width: 285px;
  border-right: 7px solid #000000;
}

.service-button {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
  border: none;
}

.service-item, .service-slider-description-item {
  list-style-type: none;
}

.service-slider-description{
  margin: 70px 0 0 0;
  padding: 0 0 0 116px;
  display: flex;
  align-items: center;
}

.service-slider-description-item{
  display: none;
}

.service-slider-description-item-active {
  display: block;
}

.service-item {
  margin-bottom: 30px;
  padding: 5px 0;
}

.service-item:last-child {
  margin-bottom: 0;
}

.service-slider-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  text-transform: uppercase;
  color: #000000;
  margin: 0 0 14px 0;
}
/*service*/

/*About company*/
.about-company {
  padding-top: 90px;
  padding-bottom: 90px;
}

.about-company-wrapper {
  display: flex;
  justify-content: space-between;
}

.about {
  width: 500px;
}

.contacts {
  width: 560px;
}

.about-company-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #F0F0F0;
  width: 1035px;
  position: relative;
  padding: 38.5px 0;
  margin: 0 0 97px auto;
}

.about-company-link::before {
  content: "";
  display: inline-block;
  width: 125px;
  height: 100px;
  background: url("../img/company/delivery.svg");
  background-repeat: no-repeat;
  background-color:  #FFE17F;
  background-position: center;
  position: absolute;
  left: -125px;
}

.about-title, .contacts-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin: 42px 0 26px 0;
}

.about-description {
  margin: 0 0 23px 0;
}

.about-transport {
  margin: 0 0 52px 0;
  font-weight: 700;
  line-height: 20px;
  color: #000000;
  list-style-type: none;
}

.about-transport-item {
  margin: 0 0 20px 0;
}

.about-link, .contacts-link {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.contacts-description {
  margin: 0 0 30px 0;
}

.contacts-subtitle {
  margin: 0 0 15px 0;
}

.contacts-address-text {
  margin: 0;
}

.contacts-address {
  font-style: normal;
  margin: 0 0 30px 0;
}

.contacts-address-phone {
  color: #444444;
}

.contacts-schedule {
  margin: 0 0 67px 0;
  padding: 0;
}

.contacts-schedule-item {
  list-style-type: none;
}
/*About company*/

/*Subscribe*/
.subscribe {
  color: #000000;
  background-color: #F0F0F0;
  padding: 75px 0 131px 0;
}

.subscribe-inner {
  display: flex;
  width: 1160px;
  flex-shrink: 0;
}


.subscribe-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  width: 560px;
  margin: 0 40px 40px 0;
}

.subscribe-description {
  width: 560px;
  margin: 0;
}

.form-wrapper {
  display: flex;
  justify-content: space-between;
  width: 1160px;
}

.subscribe-form {
  display: flex;
  width: 860px;
}

.subscribe-wrapper-input {
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
  width: 600px;
  box-sizing: border-box;
}

.subscribe-input {
  opacity: 0.5;
  width: 600px;
  border: none;
  padding: 9px 0;
  background: transparent;
  outline: 0;
}

.subscribe-submit {
  font-family: "raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  border: 3px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
.subscribe-free {
  width: 165px;
}

.subscribe-free::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url("../img/tick-big.svg");
  margin: 0 21px 0 0;
}

/*Subscribe*/

/*footer*/
.footer {
  background-color: #444444;
  padding: 62px 0;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
}

.footer-logo-link {
  display: block;
  margin: 0 0 35px 0;
}

.footer-address-text {
  margin: 0;
}

.footer-wrapper-address {
  width: 240px;
}

.footer-wrapper-social {
  width: 460px;
  margin: 75px 0 0 0;
}

.footer-wrapper-tel {
  width: 295px;
  margin: 75px 0 0 0;
}

.footer-tel {
  margin: 0 0 53px 0;
  text-align: right;
}

.footer-link {
  display: block;
  margin-left: auto;
  width: 115px;
}

.footer-navigation-list {
  margin: 0 0 60px 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 460px;
}


.footer-address-text {
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.footer-navigation-item {
  list-style-type: none;
  ;
}

.footer-navigation-link {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}

.footer-social-list {
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 150px;
  list-style-type: none;
}

.footer-social-item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3)
}

.footer-social-item:first-child .footer-social-link {
  background: url("../img/facebook.svg") no-repeat;
  background-position: center;
}

.footer-social-item:nth-child(2) .footer-social-link {
  background: url("../img/instagram.svg") no-repeat;
  background-position: center;
}

.footer-social-item:last-child .footer-social-link {
  background: url("../img/twitter.svg") no-repeat;
  background-position: center;
}

.footer-social-link {
  display: block;
  height: 100%;
}

.footer-phone {
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;

}
/*footer*/


/*page catalog*/
/*header*/

.inner-header-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin: 37px 0 14px 60px;
}

.breadcrumbs {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  opacity: 0.6;
  margin: 0 0 49px 60px;
  padding: 0;
  display: flex;
}

.breadcrumbs-item {
  list-style-type: none;
  margin-right: 36px;
}

.breadcrumbs-item:last-child {
  margin-right: 0;
}

.breadcrumbs-link {
  color: inherit;
  text-decoration: none;
}
/*header*/

/*filter*/
.main-inner {
  overflow: hidden;
}

.main-inner-wrapper{
  color: #000000;
  background-color: #EBEBEB;
  display: flex;
  justify-content: center;
}

.products-wrapper {
  display: flex;
  width: 830px;
  flex-direction: column;
}

.filter-products {
  width: 330px;
}

.filter-products-title, .sort-products-title {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  text-transform: uppercase;
}

.filter-products-title {
  padding: 25px 0;
  margin: 0;
  color: #000000;
  background-color: #DCDCDC;
  position: relative;
  z-index: 1;
}

.sort-products-title {
  padding: 25px 0;
  margin: 0;
}

.filter-products-title::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100vw;
  right: 0;
  top: 0;
  background-color: #dcdcdc;
  z-index: -1;
}

.sorting-type {
  list-style-type: none;
}

.button-top, .button-down {
  display: block;
  width: 11px;
  height: 10px;
}

.filter {
  color: #000000;
  background-color: #EBEBEB;
}

.filter-title {
  font-weight: 700;
  color: #000000;
  line-height: 20px;
}

.catalog-filter-label {
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  opacity: 0.3;
}

.catalog-filter-item {
  list-style-type: none;
}

.control-label {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.button {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
}
/*filter*/

/*Sort*/
.sort-products {
  color: #000000;
  background-color: #EBEBEB;
  display: flex;
}


.select-control-link {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  text-decoration: none;
}
/*Sort*/

/*products*/

.products{
  background-color: #ffffff;
  position: relative;
  z-index: 1;
  padding: 69px 0 77px 72px;
}

.products::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: -1;
}

.product-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding: 0 0 44px 0;
}

.product-card {
  width: 360px;
}

.product-card-wrapper {
  display: flex;
  justify-content: space-between;
}

.product-card-title {
  margin: 0;
}

.product-card-image {
  margin: 0 0 32px 0;
}

.product-card-link-title {
  display: block;
  font-size: 18px;
  line-height: 24px;
}

.product-card-button {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.product-card-link-title {
  font-weight: 700;
  color: #000000;
  line-height: 24px;
  text-decoration: none;
}

.product-card-price {
  line-height: 24px;
  font-weight: 400;
}

.pagination {
  margin: 0 auto;
  display: flex;
  padding: 25.5px 30px;
  color: #000000;
  background-color: #EBEBEB;
}

.pagination-item {
  list-style-type: none;
  margin: 0 28px 0 0;
}

.pagination-item:last-child {
  margin: 0 0 0 auto;
}

.pagination-item:first-child {
  margin: 0 209px 0 0;
}

.pagination-show-more {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  text-transform: uppercase;
  width: 760px;
  padding: 18px 0;
  border: 3px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  background-color: #ffffff;
  margin: 0 0 51px 0;
}

.pagination-link {
  font-size: 16px;
  line-height: 19px;
  color: #444444;
  opacity: 0.3;
}

.pagination-item .pagination-prev, .pagination-item .pagination-next {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  text-transform: uppercase;
  opacity: 1;
}
/*products*/

/*page catalog*/
