@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "Rubik", sans-serif ;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #444444;
  background-color: #ffffff;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 1200px;
  min-height: 100%;
}

.main-content {
  flex-grow: 1;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*header*/
.page-header {
  margin-top: 40px;

}

.navigation {
  color: #000000;
  background-color: #FFE17F;
  padding: 49px 50px 152px 60px;
}

.navigation-wrapper {
  display: flex;
  margin: 0 0 18px 0;
}

.logo {
  display: block;
  margin: -72px 0 24px 0;
}

.logo img {
  display: block;
}


.page-search {
  width: 516px;
  margin: 0 18px 0 -14px;
  line-height: 20px;
  flex-shrink: 0;
  display: flex;
  position: relative;
}


.page-search-input {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0,0,0,1);
  background-color: transparent;
  flex-grow: 1;
  padding: 10px 5px 10px 48px;
  border: 2px solid transparent;
  border-radius: 20px;
  box-sizing: border-box;
}

.page-search-input::placeholder {
  color: rgba(0,0,0,0.3);
}

.page-search-input:hover::placeholder{
  color: rgba(0,0,0,0.6)
}

.page-search-input:focus {
  border: 2px solid #AF4FFF;
  outline: none;
}

.page-search-input:active::placeholder {
  color: rgba(0, 0, 0, 0,3);
}

.page-search-input:not(:placeholder-shown) {
  border-color: #000000;
  border-right: none;
  border-radius: 20px 0 0 20px;
}

.page-search-input:not(:placeholder-shown) ~.page-search-button:focus {
  border-color: #AF4FFF;
}

.page-search::before {
  content: "";
  width: 16px;
  height: 16px;
  background-image: url("../img/search.svg");
  position: absolute;
  display: block;
  top: 50%;
  left: 14px;
  margin: -8px 0 0 0;
}

.page-search-input:placeholder-shown ~.page-search-button {
  display: none;
}

.page-search-button {
  display: block;
  width: 160px;
  background-color: transparent;
  border: none;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  cursor: pointer;
  box-sizing: border-box;
  padding: 0 10px;
  border: 2px solid #000000;
  border-radius: 0 20px 20px 0;
  outline: none;
}

.page-search-button:focus {
  border-color:#AF4FFF;
}

.page-search-button:hover {
  background-color: #000000;
  color: #ffffff;
}

.page-search-button:active {
  color:rgba(255, 255, 255, 0.3);
  border-color: #000000;
}


.basket {
  width: 320px;
  color: #ffffff;
  background-color: #000000;
  display: none;
  position: absolute;
  top: 45px;
  right: -70px;
  z-index: 10;
  margin: 0;
  padding: 0 0 20px 0;
}

.basket::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 50%;
  margin: -6px -7px 0 0;
  width: 14px;
  height: 6px;
  background-image: url("../img/triangle.svg");
  background-repeat: no-repeat;
}

.basket-list {
  margin: 0;
  padding: 0 20px;
  height: 170px;
  overflow-y: auto;
}

.basket-list::-webkit-scrollbar {
  width: 0;
}

.basket-item {
  list-style-type: none;
  display: flex;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.basket-item-del {
  display: block;
  width: 25px;
  height: 25px;
  box-sizing: border-box;
  border: 2px solid transparent;
  border-radius: 50%;
  background-color: transparent;
  background-image: url("../img/delete.svg");
  background-repeat: no-repeat;
  background-position: center;
  padding: 5px;
  cursor: pointer;
  outline: none;
  margin-right: -8px;
}

.basket-item-del:focus {
  border-color: #AF4FFF;
}

.basket-item-del:hover {
  opacity: 0.6;
}

.basket-item-del:active {
  opacity: 0.3;
}

.basket-item-link {
  color: #ffffff;
  text-decoration: none;
  display: flex;
  outline: none;
}

.basket-item-link:focus .basket-item-img{
  border-color: #AF4FFF;
}

.basket-item-link:focus .basket-item-name{
  color: #AF4FFF;
}

.basket-item-link:hover {
  opacity: 0.6;
}

.basket-item-link:active {
  opacity: 0.3;
}

.basket-item-img {
  display: block;
  box-sizing: border-box;
  margin: 0 25px 0 0;
  border: 2px solid transparent;
}

.basket-item-name {
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  padding: 0 30px 0 0;
  margin: 0;

}

.basket-total{
  padding: 9px 20px;
  background-color: #1A1A1A;
  margin: 0 0 22px 0;
}

.total {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.total-products,
.total-price {
  width: 120px;
  margin: 0;
  padding: 0;
}

.total-price {
  text-align: right;
}


.basket-open-link {
  display: block;
  width: 280px;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #ffffff;
  padding: 10px 15px;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 0.2em;
  border: 5px solid transparent;
  outline: none;
}

.basket-open-link:focus {
  border-color: #AF4FFF;
}

.basket-open-link:hover {
  background-color: #FFE17F;
}

.basket-open-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.submenu-link {
  display: block;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  text-decoration: none;
  border: 2px solid transparent;
  border-radius: 20px;
  padding: 10px 23px 10px 42px;
  box-sizing: border-box;
  position: relative;
}

.submenu-link:hover {
  opacity: 0.6;
}

.submenu-link:active {
  opacity: 0.3;
  border: none;
}

.submenu-link:focus {
  border: 2px solid #AF4FFF;
  outline: none;
}

.page-navigation-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.page-navigation-item {
  list-style-type: none;
  margin: 0 15px 0 0;
  position: relative;
}

.page-navigation-item:first-child {
  margin: 0 277px 0 -14px;
}

.page-navigation-item:first-child:focus-within .submenu-wrapper {
  display: block;
  width: 1160px;
  position: absolute;
  top: 100%;
  left: -46px;
  margin: 0;
  padding: 0;
  color: #000000;
  background-color: #FFE17F;
  z-index: 20;
}

.page-navigation-item:nth-child(2) {
  margin: 0 -5px 0 0;
}

.page-navigation-item:nth-child(2) .page-navigation-link,
.page-navigation-item:nth-child(3) .page-navigation-link,
.page-navigation-item:nth-child(4) .page-navigation-link{
  padding-left: 16px;
  padding-right: 16px;
}

.page-navigation-item:nth-child(4) {
  margin: 0 -12px 0 auto;
}

.page-navigation-link-main, .page-navigation-link{
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  padding: 13px 14px;
  border: 2px solid transparent;
  position: relative;
  letter-spacing: 0.2em;
}

.page-navigation-link-main {
 position: relative;
}

.page-navigation-item:not(:first-child) .page-navigation-link:hover::after {
  content: "";
  display: block;
  position: absolute;
  left: 15px;
  right: 15px;
  bottom: 3px;
  height: 2px;
  background-color: #000000;
}

.page-navigation-link:focus {
  border-color: #AF4FFF;
  border-radius: 25px;
  outline: none;
}

.page-navigation-link:active {
  border-color: transparent;
  opacity: 0.3;
}

.page-navigation-link-main::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background-image: url("../img/plus-1.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid #000000;
  border-radius: 50%;
  opacity: 0.2;
  box-sizing: border-box;
  position: absolute;
  top: -2px;
  right: -51px;
}

.page-navigation-item:first-child:hover .page-navigation-link-main:after {
  background-image: url("../img/minus.svg");
  opacity: 1;
}

.page-navigation-link-main:active {
  opacity: 0.3;
}

.auth {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 535px;
  position: relative;
}

.enter {
  margin: 0 146px 0 0;
}

.basket-wrapper {
  margin: 0 -14px 0 auto;
  padding-right: 0;
}

.exit {
  padding-left: 10px;
  margin-right: 9px;
}

.login {
  max-width: 165px;
  margin-right: 2px;
  padding-right: 13px;
}

.enter::before, .login::before {
  content: "";
  display: block;
  position: absolute;
  top: 13px;
  left: 18px;
  margin: 0;
  width: 13px;
  height: 12px;
  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
}

.save {
  padding-left: 36px;
}

.save::before {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  left: 16px;
  margin: -7px 0 0 0;
  width: 10px;
  height: 12px;
  background-image: url("../img/compare.svg");
  background-repeat: no-repeat;

}

.basket-link {
  padding-left: 39px;
}

.basket-link::before {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  left: 15px;
  margin: -9px 0 0 0;
  width: 16px;
  height: 14px;
  background-image: url("../img/cart.svg");
  background-repeat: no-repeat;
}

.basket-wrapper:hover .basket{
  display: block;
}

.basket-wrapper:focus-within .basket{
  display: block;
}

.basket-link-products::after {
  content: "2";
  display: block;
  position: absolute;
  width: 21px;
  height: 21px;
  background-color: #ffffff;
  border-radius: 50%;
  top: 50%;
  left: 0;
  z-index: 10;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  margin: -11px 0 0 0;
}

.submenu-wrapper {
  display: none;
}

.page-navigation-item:first-child:hover .submenu-wrapper {
  display: block;
  width: 1160px;
  position: absolute;
  top: 100%;
  left: -46px;
  margin: 0;
  padding: 0;
  color: #000000;
  background-color: #FFE17F;
  z-index: 20;
}

.submenu {
  display: grid;
  grid-template-columns: max-content 186px max-content 1fr;
  column-gap: 16px;
  list-style-type: none;
  padding: 26px 0 33px 45px;
}

.submenu-item:last-child {
  padding-right: 10px;
}

.submenu-item a {
  padding: 2px 13px;
}

.submenu-list-category {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.submenu-item-category {
  margin: 0 0 6px 0;
  padding: 0;
}

.submenu-item-category:last-child {
  margin-bottom: 0;
}

/*header*/


/*bset*/

.favorite {
  margin-top: -151px ;
  margin-bottom: 65px;
  position: relative;
}
.slider-item {
  display: none;
  position: relative;
  padding: 0 0 0 0;
}

.slider-list {
  margin: 0;
  padding: 0;
  counter-reset: section 1;
}

.slider-item::before{
  content: counter(section, decimal-leading-zero);
  font-family: "Rubik", sans-serif;
  font-weight: 800;
  font-size: 180px;
  color: #ffffff;
  line-height: 180px;
  display: block;
  position: absolute;
  top: 6px;
  right: 49px;
}

.slider-active {
  display: flex;
}

.slider-item-wrapper {
  width: 560px;
  margin: 0;
  padding: 121px 0 39px 40px;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.slider-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin: 0 0 28px 0;
}

.slider-description {
  margin: 0 0 35px 0;
  padding: 0;
}

.slider-link {
  display: block;
  width: 200px;
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 10px;
  margin: 0 0 41px 0;
  position: relative;
  outline: none;
  letter-spacing: 0.2em;
}

.slider-link::before {
  content: "";
  background-color: #ffe17f;
  display: block;
  height: calc(100% - 43px);
  left: 0;
  right: 0;
  top: 21px;
  position: absolute;
  z-index: -1;
  transition: all 0.4s;
}

.slider-link:focus:before {
  background-color: #AF4FFF;
}


.slider-link:hover::before {
  height: 100%;
  top: 0;
}

.slider-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.slider-prev::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 60px;
  margin: -30px 0 0 -10px;
  background-image: url("../img/best/left-tall-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.slider-next:hover:before, .slider-prev:hover:before {
  opacity: 0.6;
}


.slider-next:active:before, .slider-prev:active:before {
  opacity: 0.3;
}

.slider-next::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 60px;
  margin: -30px 0 0 -10px;
  background-image: url("../img/best/right-tall-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.slider-img {
  display: block;
}

.slider-pagination-list {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 78px;
  bottom: 187px;
  z-index: 10;
}

.slider-pagination-item {
  margin-right: 18px;
}

.slider-pagination-item:last-child {
  margin-right: 0;
}


.slider-pagination-button {
  display: block;
  width: 12px;
  height: 12px;
  border: 2px solid transparent;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  outline: none;
}

.slider-pagination-button::before {
  content:"";
  display: block;
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  border: 2px solid #000000;
  border-radius: 50%;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -6px 0 0 -6px;
}

.slider-pagination-button:hover:before {
  opacity: 0.6;
}

.slider-pagination-button:active:before {
  opacity: 0.3;
  border-color: #000000;
}

.slider-pagination-button:focus::before {
  border-color: #AF4FFF;
}

.slider-pagination-button-current::before {
  content:"";
  display: block;
  width: 12px;
  height: 12px;
  background-color: #000000;
  border: 2px solid #000000;
  border-radius: 50%;
  box-sizing: border-box;
  position: absolute;
}

.slider-button-list {
  list-style-type: none;
  display: flex;
  position: absolute;
  top: 240px;
  margin: 0;
  padding: 0;
  width: 560px;
}

.slider-button-item:first-child {
  margin-left: 10px;
}

.slider-button-item:last-child {
  margin-left: auto;
  margin-right: 10px;
}

.slider-button {
  background-color: transparent;
  border: none;
  display: block;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 6px;
  width: 36px;
  height: 76px;
  padding: 8px;
  position: relative;
  outline: none;
}

.slider-button:focus {
  border: 2px solid #AF4FFF;
}

.slider-button:active {
  border-color: transparent;
}
.specifications {
  margin: 0 0 0 -4px;
}

.specifications tbody {
  display: block;
}


.specifications-line:first-child {
  font-size: 36px;
  line-height: 30px;
  height: 47px;
  color: #000000;
}

.specifications-colum {
  width: 156px;
  margin: 0;
}

.specifications-name {
  font-size: 16px;
}

/*best*/

/*category */
.category {
  margin-bottom: 82px;
}

.category-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 40px;
  row-gap: 30px;
}

.category-item {
  width: 160px;
  list-style-type: none;
}

.category-item:nth-child(2) .category-link .category-name {
  padding-right: 35px;
}

.category-item:nth-child(2) .category-link .category-img-wrapper {
  align-items: flex-end;
}

.category-item:nth-child(2) .category-link .category-img-wrapper .category-img {
  margin: 0 0 -5px 0;
}

.category-link {
  display: block;
  text-decoration: none;
  outline: none;
  line-height: 24px;
}

.category-name {
  display: block;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  letter-spacing: -0.02em;
}

.category-img-wrapper {
  width: 160px;
  height: 160px;
  color: #000000;
  background-color: #FFE17F;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 32px 0;
  box-sizing: border-box;
  border: 5px solid transparent;
}

.category-img {
  display: block;
}

.category-link:hover .category-img-wrapper {
  background-color: #FFC700;
}

.category-link:focus .category-img-wrapper {
  border-color: #AF4FFF;
}

.category-link:focus .category-name {
  color: #AF4FFF;
}


.category-link:active .category-img-wrapper {
  border-color: transparent;
}

.category-link:active .category-img-wrapper .category-img {
  opacity: 0.3;
}


.category-link:active .category-name {
  opacity: 0.3;
  color: #000000;
}


/*category*/

/*service*/
.service {
  color: #444444;
  background: linear-gradient(to bottom, #ffffff 100px, #F0F0F0 100px, #F0F0F0 100%) ;
}
.service-wrapper {
  display: flex;
  padding: 0 0 69px 0;
}

.service-list {
  margin: 0;
  padding: 80px 0 72px 0;
  width: 277px;
  border-right: 7px solid #000000;
}

.service-button {
  display: inline-block;
  width: 160px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: transparent;
  color: #000000;
  text-transform: uppercase;
  border: none;
  padding: 10px 20px;
  position: relative;
  cursor: pointer;
  z-index: 1;
  outline: none;
  letter-spacing: 0.2em;
}

.service-item-active {
  background-color: #000000;
}

.service-item-active .service-button {
  color: #FFE17F;
}

.service-item-active .service-button::before {
  background-color: transparent;
}

.service-button-item::after {
  content: "";
  display: block;
  position:absolute;
  width: 100px;
  height: 100%;
  background-color: #000000;
  top: 0;
  right: -100%;
}

.service-button:hover::before {
  height: 100%;
  top: 0;
}

.service-button:focus::before {
  background-color: #AF4FFF;
}

.service-button::before {
  content: "";
  background-color: #FFC700;
  display: block;
  height: calc(100% - 33px);
  left: 0;
  right: 0;
  top: 17px;
  position: absolute;
  z-index: -1;
  transition: all 0.4s;
}

.service-item, .service-slider-description-item {
  list-style-type: none;
  position: relative;
}

.service-slider-article {
  width: 430px;
  margin: 0;
  padding: 0 264px 10px 0;
  position: relative;
}

.service-slider-description{
  margin: 0;
  padding: 70px 0 0 116px;
  align-items: center;
}

.service-slider-description-item{
  display: none;
}

.service-slider-description-item::after {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../img/service/delivery.svg");
  background-repeat: no-repeat;
  width: 136px;
  height: 164px;
  right: 0;
  top: 15px;
}

.service-slider-description-item-active {
  display: block;
}

.service-item {
  margin-bottom: 23px;
}

.service-item:last-child {
  margin-bottom: 0;
}

.service-slider-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin: 0 0 33px 0;
}
/*service*/

/*About company*/
.about-company {
  padding: 82px 20px 70px 20px;
}

.about-company-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 42px;
}

.about, .contacts {
  display: flex;
  flex-direction:column;
}

.about-company-link-wrapper {
  position: relative;
  margin: 0 0 92px -5px
;
}

.about-company-link-info {
  width: 40px;
  height: 40px;
  position: absolute;
  display: block;
  background-color: rgba(220, 220, 220, 0.5);
  border-radius: 50px;
  top: 50%;
  right: 33px;
  margin: -20px 0 0 0;
}

.about-company-link-info::before {
  content: "";
  width: 2px;
  height: 12px;
  display: block;
  background-image: url("../img/info.svg");
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 14px auto 0 auto;
}

.about-company-link-info:hover {
  background-color: #dcdcdc;
}

.about-company-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #F0F0F0;
  width: 910px;
  position: relative;
  padding: 39px 125px 39px 125px;
  border: 5px solid #ffffff;
  outline: none;
  letter-spacing: 0.2em;
}

.about-company-link:focus {
  border: 5px solid #AF4FFF;
}

.about-company-link:hover {
  background-color: #EBEBEB;
}

.about-company-link::before {
  content: "";
  display: inline-block;
  width: 125px;
  height: 100%;
  background-color:  #FFE17F;
  background-position: center;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.about-company-svg {
  display: block;
  position: absolute;
  left: 44px;
  top: 50%;
  z-index: 2;
  margin: -15px 0 0 0;
  fill: #000000;
}

.about-company-link:hover::before {
  background-color: #FFC700;
}

.about-company-link:hover + .about-company-link-info::before {
  background-color: rgba(0, 0, 0, 1);
}

.about-company-link:active {
  color: rgba(0, 0, 0, 0.3);
  border-color: #ffffff;
}

.about-company-link:active ~.about-company-svg {
  fill: rgba(0, 0, 0, 0.3);
}

.about-company-link:active::before {
  background-color: #FFC700;
}

.about-company-link:active + .about-company-link-info::before {
  background-color: rgba(0, 0, 0, 0.3);
}

.about-title, .contacts-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  padding: 50px 0 45px 0;
  position: relative;
  margin: 0;
}

.about-title::before,  .contacts-title::before{
  content: "";
  position: absolute;
  display: block;
  width: 80px;
  height: 7px;
  background-color: #000000;
  top: 0;
  left: 0;

}

.about-description,
.contacts-description {
  margin: 0 0 30px 0;
  padding: 0 55px 0 0;
}

.about-transport {
  margin: 0 0 52px 0;
  font-weight: 700;
  line-height: 20px;
  color: #000000;
  list-style-type: none;
  margin: 0 0 36px 0;
  padding: 45px 0 0 0;
}

.about-transport-item {
  margin: 0 0 20px 0;
  padding: 0 0 0 35px;
  position: relative;
}

.about-transport-item::before {
  content: "";
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  top: 50%;
  left: 0px;
  margin: -4px 0 0 0;
  background-color: #FFC700;
  border-radius: 50%;
}

.about-link, .contacts-link {
  width: 241px;
  padding: 14px 10px;
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.2em;
  position: relative;
  outline: none;
  border: 2px solid transparent;
  letter-spacing: 0.2em;
}

.about-link:focus:before, .contacts-link:focus::before {
  background-color: #AF4FFF;
}

.about-link:active, .contacts-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.about-link::before, .contacts-link::before {
  content: "";
  display: block;
  background-color: #ffe17f;
  display: block;
  height: calc(100% - 41px);
  left: 0;
  right: 0;
  top: 21px;
  position: absolute;
  z-index: -1;
  transition: all 0.4s;
}

.about-link:hover:before, .contacts-link:hover:before {
  height: 100%;
  top: 0;
}


.contacts-subtitle {
  margin: 0 0 15px 0;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #444444;
}

.contacts-address-text {
  margin: 0;
}

.contacts-address {
  font-style: normal;
  margin: 0 0 30px 0;
}

.contacts-address-phone {
  color: #444444;
}

.contacts-schedule {
  margin: 0 0 51px 0;
  padding: 0;
}

.contacts-schedule-item {
  list-style-type: none;
}
/*About company*/

/*Subscribe*/
.subscribe {
  color: #000000;
  background-color: #F0F0F0;
  padding: 76px 0 131px 0;
}

.subscribe-inner {
  display: flex;
  width: 1160px;
  flex-shrink: 0;
  margin: 0 0 20px 0;
}


.subscribe-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  width: 400px;
  margin: 0 200px 40px 0;
}

.subscribe-description {
  width: 527px;
  margin: 0;
  padding: 10px 0 0 0;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.form-wrapper {
  display: flex;
  justify-content: space-between;
  width: 1160px;
}

.subscribe-form {
  display: flex;
}

.subscribe-wrapper-input {
  box-sizing: border-box;
}

.subscribe-input {
  width: 600px;
  font-size: 18px;
  line-height: 34px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
  padding: 9px 0;
  background-color: transparent;
  outline: 0;
}

.subscribe-input::placeholder {
  font-size: 18px;
  line-height: 30px;
  color: rgba(68, 68, 68, 0.5);
}

.subscribe-input:not(:placeholder-shown) {
  border-bottom: 3px solid rgba(0, 0, 0, 1);
}

.subscribe-input:focus {
  background-color: #dcdcdc;
}

.subscribe-input:hover {
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
}

.subscribe-input-error {
  border-color: #FF3D3D;
}

.subscribe-submit {
  font-family: "raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  border: 3px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding: 0 38px;
  cursor: pointer;
  outline: none;
}

.subscribe-submit:focus {
  border: 3px solid #AF4FFF;
}

.subscribe-submit:hover {
  background-color: #000000;
  color: #ffffff;
}

.subscribe-submit:active {
  color: rgba(255, 255, 255, 0.3);
}

.subscribe-free {
  margin: 12px 0 auto 0;
  padding: 0 0 0 36px;
  position: relative;
}

.subscribe-free::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 14px;
  height: 14px;
  background-image: url("../img/tick-big.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin: -7px 0 0 0;
}

/*Subscribe*/

/*footer*/
.footer {
  background-color: #444444;
  padding: 62px 0;
}

.footer-wrapper {
  display: flex;
}

.footer-logo {
  display: block;
}

.footer-logo-link {
  display: block;
  margin: 0 0 35px 0;
  outline: none;
}

.footer-address-text {
  margin: 0;
}

.footer-wrapper-address {
  width: 240px;
  margin: 0 106px 0 0;
  position: relative;
}

.footer-wrapper-address::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 35px;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: #FFC700;
}

.footer-wrapper-social {
  width: 475px;
  margin: 0;
  padding: 60px 0 0 0;
}

.footer-wrapper-tel {
  margin: 71px 0 0 auto;
}

.footer-tel {
  margin: 0 -15px 53px 0;
  text-align: right;
}

.footer-link {
  display: block;
  margin-left: auto;
  margin-right: -11px;
  width: 115px;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 8px;
  outline: none;
}

.footer-link-svg {
  fill: #FFC700;
}


.footer-link:hover .footer-link-svg{
  fill: #ffffff;
}

.footer-link:focus {
  border-color: #AF4FFF;
}

.footer-link:active {
  opacity: 0.3;
  border-color: transparent;
}

.footer-navigation-list {
  margin: 0 0 47px 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}


.footer-address-text {
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.footer-navigation-item {
  list-style-type: none;
  padding: 0;
  margin: 0 -9px 0 0;
}

.footer-navigation-item:nth-child(3n) {
  margin-right: 0;
  padding-right: 0;
}

.footer-navigation-link {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  padding: 13px 16px;
  position: relative;
  border: 2px solid transparent;
  border-radius: 25px;
  outline: none;
}

.footer-navigation-link:hover {
  color: #FFC700;
}

.footer-navigation-link:focus {
  border: 2px solid #AF4FFF;
}

.footer-navigation-link:active {
  opacity: 0.3;
  border: 2px solid transparent;
}

.footer-navigation-link:hover::before {
  content: "";
  position: absolute;
  left: 15px;
  right: 15px;
  top: 40px;
  height: 2px;
  background-color: #FFC700;

}

.footer-social-list {
  width: 467px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
}

.footer-social-item {
  margin: 0 8px 0 8px;
}


.footer-social-svg {
  position: absolute;
  top: 50%;
  left: 50%;
  fill: #464646;
}

.footer-fb {
  margin: -9px 0 0 -4px;
}

.footer-inst {
  margin: -8px 0 0 -8px;
}

.footer-twit {
  margin: -7px 0 0 -7px;
}

.footer-social-link {
  display: block;
  width: 30px;
  height: 30px;
  border: 5px solid transparent;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  position: relative;
  outline: none;
}

.footer-social-link:focus {
  border-color: #AF4FFF;
}

.footer-social-link:focus .footer-social-svg {
  fill: #ffffff;
}

.footer-social-link:hover {
  background-color: #FFC700;
}

.footer-social-link:active .footer-social-svg {
  opacity: 0.3;
  fill: #464646;
}

.footer-social-link:active {
  border-color: transparent;
}

.footer-phone {
  display: block;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  text-decoration: none;
  border: 2px solid transparent;
  border-radius: 25px;
  padding: 2px 13px 2px 13px;
  outline: none;
}

.footer-phone:hover {
  color: #FFC700;
}

.footer-phone:focus {
  border-color: #AF4FFF;
}

.footer-phone:active {
  opacity: 0.3;
  border-color: transparent;
}
/*footer*/


/*page catalog*/
/*header*/

.inner-header {
  padding: 37px 0 44px 0;
}

.inner-header-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin: 0 0 19px 0;
  padding: 0 0 0 80px;
}

.breadcrumbs {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  opacity: 0.6;
  margin: 0;
  padding: 0 0 0 75px;
  display: flex;
}

.breadcrumbs-item {
  list-style-type: none;
  margin-right: 17px;
  position: relative;
}

.breadcrumbs-item:last-child {
  margin-right: 0;
}

.breadcrumbs-item::after {
  content: "";
  width: 4px;
  height: 7px;
  position: absolute;
  background-image: url("../img/next_menu.svg");
  background-repeat: no-repeat;
  top: 12px;
  right: -7px;
}

.breadcrumbs-item:last-child::after {
  background-image: none;
}


.breadcrumbs-link {
  display: block;
  color: inherit;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
  padding: 0 8px 0 0;
  border: 5px solid transparent;
  box-sizing: border-box;
  outline: none;
}

.breadcrumbs-link:hover {
  color: rgba(0, 0, 0, 1);
}

.breadcrumbs-link:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: transparent;
}

.breadcrumbs-link:focus {
  border-color: #AF4FFF;
}
/*header*/

/*filter*/
.main-inner {
  overflow: hidden;
  margin-top: -115px;
  background-color: #ffffff;
}

.main-inner-wrapper{
  color: #000000;
  background-color: #EBEBEB;
  display: flex;
  justify-content: center;
}

.products-wrapper {
  display: flex;
  width: 830px;
  flex-direction: column;
}

.filter-products {
  width: 330px;
  box-sizing: border-box;
  padding: 0 0 0 60px;
}

.filter-products-title, .sort-products-title {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  text-transform: uppercase;
}

.filter-products-title {
  padding: 25px 10px 25px 0;
  margin: 0;
  color: #000000;
  background-color: #DCDCDC;
  position: relative;
  z-index: 1;
  letter-spacing: 0.2em;
}

.sort-products-title {
  padding: 25px 0;
  margin: 0 0 0 71px;
  letter-spacing: 0.2em;
}


.filter-products-title::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100vw;
  right: 0;
  top: 0;
  background-color: #dcdcdc;
  z-index: -1;
}

.sorting-type {
  display: none;
  list-style-type: none;
  background-color: #EBEBEB;
}

.button-top, .button-down {
  display: block;
  width: 11px;
  height: 10px;
  position: relative;
  opacity: 0.1;
  padding: 10px;
  border: 5px solid transparent;
  margin: 0 -16px 0 0;
  outline: none;
}

.button-top:hover, .button-down:hover {
  opacity: 0.5;
}

.button-top-active {
  opacity: 1;
}

.button-top {
  margin-left: auto;
  margin-right: -12px;
}

.button-top:focus, .button-down:focus  {
  border-color: #AF4FFF;
}

.button-top::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 11px;
  height: 10px;
  background-image: url("../img/sort-up.svg");
  background-repeat: no-repeat;
  margin: -6px 0 0 -5px;
}

.button-down::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 50%;
  width: 11px;
  height: 10px;
  background-image: url("../img/sort-down.svg");
  background-repeat: no-repeat;
  margin: -6px -5px 0 0;
}

.filter {
  color: #000000;
  background-color: #EBEBEB;
  padding: 0 69px 0 0;
  margin: 84px 0 0 0;
}

.filter-title {
  font-weight: 700;
  color: #000000;
  line-height: 20px;
  padding: 0;
  letter-spacing: -0.02em;
}

.filter-group {
  display: block;
  margin: 0;
  border: 0;
  padding: 0 0 48px 0;
  position: relative;
}

.filter-group:first-child{
  padding-bottom: 66px;
}

.filter-group:last-child {
  padding-bottom: 26px;
}

.filter-group::after {
  content: "";
  position: absolute;
  left: 0;
  top: -35px;
  width: 200px;
  height: 2px;
  background-color: #000000;
}

.range {
  margin: 37px 0 0 0;
  padding: 0 8px;
}

.range-scale {
  position: relative;
  margin: 0 0 15px 0;
  height: 2px;
  background-color: #DCDCDC;
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: #000000;
}

.range-wrapper {
  position: absolute;
}

.range-wrapper-min {
  top: -8px;
  left: -8px;
}

.range-wrapper-max {
  top: -8px;
  right: -50%;
  margin-right: 6px;
}

.range-wrapper-max .catalog-filter-label {
  margin-left: -20px;
}

.range-toggle {
  display: block;
  width: 18px;
  height: 18px;
  background-color: #EBEBEB;
  border: 2px solid #242424;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
}

.range-toggle:hover,
.range-toggle:focus {
  border: 2px solid #AF4FFF;
}

.range-toggle:active {
  background-color: #000000;
}

/* .toggle-min {
  top: -8px;
  left: -10px;
}

.toggle-max {
  top: -8px;
  right: -10px;
} */

.range-wrapper-inputs {
  display: flex;
}

.catalog-filter-label {
  font-size: 15px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3)
  margin-left: -5px;
  display: inline-block;
}

.range-toggle:focus ~ label {
  color: #AF4FFF;
}

.range-toggle:focus ~ input {
  color: #AF4FFF;
}

/* .catalog-filter-focus {
  color: #AF4FFF;
} */

/* .catalog-filter-active {
  color: rgba(0, 0, 0, 1);
} */

.catalog-filter-input {
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  opacity: 0.3;
  width: 50px;
  padding: 0 2px;
  text-align: left;
  background-color: transparent;
  border: none;
  appearance: textfield;
}

.catalog-filter-input::-webkit-outer-spin-button,
.catalog-filter-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.catalog-filter-list {
  margin: 22px 0 6px 0;
  padding: 0;
}


.catalog-filter-label {
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  opacity: 0.3;
  margin-left: -5px;
}

.catalog-filter-item {
  list-style-type: none;
  padding: 0 0 10px 0;
}

.catalog-filter-item:last-child {
  padding-bottom: 0;
}

.control {
  position: relative;
  display: block;
  padding-left: 37px;
}

.control-mark {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 16px;
  height: 16px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  margin: -10px 0 0 0;
  cursor: pointer;
}

.control:hover .control-mark {
  opacity: 0.5;
}

.control:active {
  opacity: 0.2;
}

.control-input:focus ~ .control-label{
  color: #AF4FFF;
}

.control-input:focus +.control-mark {
  border-color: #AF4FFF;
}

.control-input[type="checkbox"]:checked + .control-mark {
  border-color: rgba(0, 0, 0, 1);
}

.control-input[type="checkbox"]:checked:focus + .control-mark {
  border-color: #AF4FFF;
}


.control-input[type="checkbox"]:checked:focus + .control-mark::before {
  background-image: url("../img/tick_hover.svg");
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  top: 3px;
  left: 4px;
  width: 10px;
  height: 10px;
  background-image: url("../img/tick.svg");
  background-repeat: no-repeat;
  content: "";
}

.control-label {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  background-color: #000000;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.control-input[type="radio"]:checked:focus + .control-mark::before {
  background-color: #AF4FFF;
}

.control-input[type="radio"]:checked:hover + .control-mark::before {
  background-color: rgba(0, 0, 0, 0.5);
}


.button {
  display: block;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  margin: 0;
  position: relative;
  outline: none;
  border: none;
  background-color: transparent;
  z-index: 1;
  cursor: pointer;
}

.button::before {
  content: "";
  background-color: #ffe17f;
  display: block;
  height: calc(100% - 43px);
  left: 0;
  right: 0;
  top: 21px;
  position: absolute;
  z-index: -1;
  transition: all 0.4s;
}

.button:focus:before {
  background-color: #AF4FFF;
}


.button:hover::before {
  height: 100%;
  top: 0;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}



/*filter*/

/*Sort*/
.sort-products {
  color: #000000;
  background-color: #EBEBEB;
  display: flex;
  align-items: center;
}

.sort-products-wrapper {
  margin: -3px 0 0 52px;
  position: relative;
}

.sorting-type {
  position: absolute;
  display: none;
  flex-direction: column;
  z-index: 2;
  margin: 0;
  padding: 0;
  width: 300px;
}

.sorting-type-open {
  display: flex;
}


.select-control-link {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  text-decoration: none;
  position: relative;
  border: 5px solid transparent;
  outline: none;
}

.select-control-link:hover {
  opacity: 0.6;
}

.select-control-link:active {
  opacity: 0.3;
  border-color: transparent;
}

.select-control-link:focus {
  border-color: #AF4FFF;
}

.select-control-link::after {
  content: "";
  position: absolute;
  top: 8px;
  right: -26px;
  width: 11px;
  height: 6px;
  background-image: url("../img/dropdown.svg");
  background-repeat: no-repeat;

}


.sorting-type li a.select-control-link::after {
  background-image: none;
}
/*Sort*/

/*products*/

.products{
  background-color: #ffffff;
  position: relative;
  z-index: 1;
  padding: 70px 0 77px 70px;
}

.products::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: -1;
}

.product-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  row-gap: 26px;
  padding: 0 0 26px 0;
}

.product-card {
  width: 360px;
  display: grid;
  grid-template-rows: 170px 50px 170px 95px;
  grid-template-columns: 95px 180px 95px;
  position: relative;
  margin-left: -5px;
  margin-top: -5px;
}

.product-card-new::before {
  content: "NEW";
  display: block;
  width: 56px;
  height: 56px;
  text-align: center;
  font-size: 14px;
  line-height: 56px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  letter-spacing: 0.2em;
  color: rgba(0, 0, 0, 0.6);
  border: 2px solid rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
  top: 33px;
  right: 21px;
}

.product-card-wrapper {
  display: flex;
  justify-content: space-between;
}

.product-card-title {
  margin: 0;
  grid-column: 1/3;
  grid-row: 4/-1;
  padding: 27px 0 0 5px;
}

.product-card-image {
  display: block;
  margin: 0 0 32px 0;
}

.product-card-link {
  display: block;
  grid-column: 1/-1;
  grid-row: 1/4;
  border: 5px solid transparent;
  margin: 0;
  padding: 0;
}

.product-card-link:hover {
  opacity: 0.5;
}

.product-card-link:focus {
  border-color: #AF4FFF;
  overflow: hidden;
}

.product-card-link:focus + .product-card-title .product-card-link-title {
  color: #AF4FFF;
}

.product-card-link:focus + .product-card-title + .product-card-price {
  color: #AF4FFF;
}

.product-card:hover  .product-card-button, .product-card:focus-within  .product-card-button {
  display: block;
}


.product-card-link-title {
  display: block;
  font-size: 18px;
  font-weight: 700;
  color: #000000;
  line-height: 24px;
  text-decoration: none;
  letter-spacing: -0.02em;
}

.product-card-button {
  display: none;
  grid-column: 2/3;
  grid-row: 2/3;
  padding: 15px 19px;
}

.product-card-button::before {
  content: "";
  background-color: #ffe17f;
  display: block;
  height: calc(100% - 43px);
  left: 0;
  right: 0;
  top: 21px;
  position: absolute;
  z-index: -1;
  transition: all 0.4s;
}

.product-card-button:focus:before {
  background-color: #AF4FFF;
}


.product-card-button:hover::before {
  height: 100%;
  top: 0;
}

.product-card-button:active {
  color: rgba(0, 0, 0, 0.3);
}


.product-card-price {
  line-height: 21px;
  font-weight: 400;
  grid-column: 3/-1;
  grid-row: 4/-1;
  justify-self: end;
  padding: 30px 5px 0 0;
}

.pagination {
  margin: 0 auto;
  display: flex;
  padding: 0;
  color: #000000;
  background-color: #EBEBEB;
}

.pagination-item {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0 -4px 0 0;
}

.pagination-item:last-child {
  margin: 0 -5px 0 auto;
}

.pagination-item:first-child {
  margin: 0 171px 0 0;
}

.pagination-item:nth-child(5) .pagination-link {
  padding: 4px 5px;
}


.pagination-show-more {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  text-transform: uppercase;
  width: 760px;
  padding: 15px 0;
  border: 3px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  background-color: #ffffff;
  margin: 0 0 52px 0;
  cursor: pointer;
  letter-spacing: 0.2em;
  outline: none;
}

.pagination-show-more:focus {
  border: 5px solid #AF4FFF;
  padding: 13px 0;
}

.pagination-show-more:hover {
  border: 3px solid rgba(0, 0, 0, 1);
}

.pagination-show-more:active {
  opacity: 0.3;

}

.pagination-link {
  display: block;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  border: 5px solid transparent;
  padding: 4px 10px;
  text-decoration: none;
  letter-spacing: 0.2em;
  outline: none;
  color: rgba(0, 0, 0, 0.3);
}

.pagination-prev, .pagination-next {
  letter-spacing: 0.2em;
  color: rgba(0, 0, 0, 1);
}

.pagination-item:first-child .pagination-link, .pagination-item:last-child .pagination-link {
  padding: 20px 25px;
}

.pagination-item .pagination-prev, .pagination-item .pagination-next {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  text-transform: uppercase;
  opacity: 1;
}

.pagination-item:not(:first-child) .pagination-link:hover, .pagination-item:NOT(:last-child) .pagination-link:hover  {
  color: rgba(68, 68, 68, 0.3);
}

.pagination-item:not(:first-child) .pagination-link:active, .pagination-item:NOT(:last-child) .pagination-link:active  {
  color: rgba(68, 68, 68, 0.1);
}

.pagination-item:first-child .pagination-link:hover, .pagination-item:last-child .pagination-link:hover  {
  background-color: #DCDCDC;
  color: rgba(68, 68, 68, 1);
}

.pagination-link:focus {
  border-color: #AF4FFF;
}

.pagination-item:first-child .pagination-link:active, .pagination-item:last-child .pagination-link:active  {
  color: rgba(68, 68, 68, 0.3);
}

/*products*/

/*page catalog*/


/*modal*/
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);

  z-index: 100;
}

.modal-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  width: 920px;
  padding: 58px 70px 60px 70px;
  background-color: #FFFFFF;
  border: 10px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.modal-title-wrapper {
  display: flex;
  position: relative;
}

.modal-title {
  margin: 0 0 63px 0;
  padding: 5px 5px 5px 0;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.modal-close-button {
  display: block;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  border: 2px solid transparent;
  border-radius: 50%;
  background-color: transparent;
  background-image: url("../img/big-cross-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  padding: 5px;
  cursor: pointer;
  outline: none;
  position: absolute;
  top: 9px;
  right: -11px;
}

.modal-delivery-form {
  display: grid;
  grid-template-columns: 360px 160px 160px;
  grid-template-rows: 124px 94px 82px;
  column-gap: 40px;
  row-gap: 10px;
}

.modal-close-button:focus {
  border-color: #AF4FFF;
}

.modal-close-button:hover {
  opacity: 0.6;
}

.modal-close-button:active {
  opacity: 0.3;
}

.modal-delivery-label {
font-family: "Rubik", sans-serif;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 20px;
letter-spacing: -0.02em;
outline: none;
border: none;
display: flex;
flex-direction: column;
}

.modal-name-wrapper {
  grid-column: 1/2;
  grid-row: 1/2;
}

.modal-email-wrapper {
  grid-column: 2/4;
  grid-row: 1/2;
}

.modal-text {
  grid-column: 1/3;
}

.modal-delivery-label input.modal-delivery-col {
  padding-left: 50px;
  text-align: center;
}

.modal-delivery-col {
  appearance: textfield;
}

.modal-delivery-col::-webkit-outer-spin-button,
.modal-delivery-col::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.modal-delivery-label input {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  background-color: #F0F0F0;
  outline: none;
  width: 100%;
  border: 5px solid transparent;
  margin: 14px 0 0 0;
  padding: 15px 50px 15px 16px;
  box-sizing: border-box;
}

.modal-delivery-label input:focus {
  border-color: #AF4FFF;
}

.modal-delivery-label input:hover {
  background-color: #EBEBEB;
}

.modal-delivery-label input:active {
  background-color: #ffffff;
  border-color: #000000;
  color: rgba(0, 0, 0, 1);
}

.modal-delivery-label input.modal-input-error {
  border-color: #FF3D3D;
}

.modal-delivery-label::placeholder {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.6);
}


.modal-col {
  position: relative;
}

.modal-input-name-wrapper::before {
  content: "";
  width: 13px;
  height: 12px;
  display: block;
  background-image: url("../img/user_modal.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 50%;
  right: 21px;
  margin: -1px 0 0 0;
}

.modal-input-email-wrapper::before {
  content: "";
  width: 15px;
  height: 12px;
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  background-image: url("../img/mail.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin: -1px 0 0 0;
}

.modal-col::before {
  content: "";
  width: 16px;
  height: 16px;
  display: block;
  position: absolute;
  top: 50%;
  left: 20px;
  margin: 8px 0 0 0;
  background-image: url("../img/minus_modal.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-col::after {
  content: "";
  width: 16px;
  height: 16px;
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  margin: 8px 0 0 0;
  background-image: url("../img/plus_modal.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-col {
  position: relative;
}

.modal-col-wrapper::before {
  content: "i";
  width: 26px;
  height: 26px;
  background-color: #FFE17F;
  display: flex;
  position: absolute;
  top: -1px;
  right: 14px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.modal-col-wrapper {
  position: relative;
}

.modal-delivery-info {
  display: block;
  width: 200px;
  padding: 19px;
  margin: 0;
  box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  background-color: #000000;
  position: absolute;
  top: 35px;
  right: -20px;
}

.modal-delivery-info::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 40px;
  margin: -6px 0 0 0;
  width: 14px;
  height: 6px;
  background-image: url("../img/triangle.svg");
  background-repeat: no-repeat;
}


.modal-delivery-info-close {
  display: none;
}

.info-description {
font-family: "Rubik", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
color: #FFFFFF;
}


.message {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  padding: 5px 5px 5px 0;
  display: none;
}

.message-error {
  color: #FF3D3D;
  display: block;
}

.message-info {
  color: #000000;
  display: block;
}

.modal-send {
  align-self: end;
  margin-right: 160px;
  padding: 15px 25px;
}

/*modal*/
