.page-search::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("img/search.svg");
}

.auth .submenu-link:first-child::before {
  content: "";
  display: block;
  width: 13px;
  height: 12px;
  background-image: url("img/user.svg");
}

.auth .submenu-link:nth-child(2)::before {
  content: "";
  display: block;
  width: 10px;
  height: 12px;
  background-image: url("img/compare.svg");
}

.auth .submenu-link:last-child::before {
  content: "";
  display: block;
  width: 16px;
  height: 14px;
  background-image: url("img/cart.svg");
}


.page-navigation-link-main::after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("img/plus-1.svg");
}

.slider-prev {
  background-image: url("img/best/left-tall-arrow.svg");
  width: 20px;
  height: 60px;
}


.slider-next {
  background-image: url("img/best/right-tall-arrow.svg");
  width: 20px;
  height: 60px;
}

.about-company-link::before {
  content: "";
  display: block;
  width: 125px;
  height: 100px;
  background: url("img/company/delivery.svg") no-repeat #FFE17F;
  background-position: center;
}


.subscribe-free::before {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  background-image: url("img/tick-big.svg");
}

.footer-social-item:first-child .footer-social-link {
  background: url("img/facebook.svg") no-repeat;
}

.footer-social-item:nth-child(2) .footer-social-link {
  background: url("img/instagram.svg") no-repeat;
}

.footer-social-item:last-child .footer-social-link {
  background: url("img/twitter.svg") no-repeat;
}

